.main-container{
    font-family: "Roboto",sans-serif;
}

.wiki-logo{
    width: 150px;
    height: 100px;
}

.search-input{
    font-size: 20px;
    border-style: solid;
    border-width:1px;
    border-radius: 15px;
    background-color: rgb(242, 247, 247);
    padding: 5px;
    margin: 10px;
}

.search-results{
    width:100%;
    padding-left:20px;
}

.result-item{
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid;
}

.result-title{
    font-size: 20px;
    color:#1a0dab;
}

.result-url{
     color:#006621;
     font-size: 14px;
}

.link-desc{
    margin-top: 5px;
    font-size: 15px;
    color:#333;
}
